#header_index img {
  width: 162px;
  margin-top: 14px;
  padding-bottom: 12px;
  padding-left: 30%;
}
@media screen and (min-width: 768px) {
  #header_index img {
    padding-left: 42%;
  }
}

.search_bar {
  padding-left: 15px;
  border: none;
  background-color: #eee;
}

input:focus::-moz-placeholder {
  color: transparent;
  border-color: transparent;
}

input:focus::placeholder {
  color: transparent;
  border-color: transparent;
}

input::-moz-placeholder {
  color: black;
  border-color: transparent;
}

input::placeholder {
  color: black;
  border-color: transparent;
}

#gps_icon {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #eee;
  box-shadow: 1px 3px 5px 2px lightgrey;
}
@media screen and (max-width: 390px) {
  #gps_icon {
    width: 120%;
  }
}
@media screen and (max-width: 375px) {
  #gps_icon {
    width: 125%;
  }
}

/*Header Text*/
#header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 60px;
  margin-top: 15px;
}
@media screen and (min-width: 992px) {
  #header_text {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
  }
}

.header_text_under {
  font-weight: 300;
  font-size: 20px;
}

#header_text h1 {
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  #header_text h1 {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
  }
}

/*Bouton_recherche*/
#search_btn {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356dc);
  box-shadow: 0px 3px 4px lightgray;
  color: white;
  border: none;
  border-radius: 40px;
  width: 230px;
  height: 60px;
  margin-bottom: 0px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  #search_btn {
    margin-top: 20px;
    padding-top: 0px;
  }
}

#search_btn:hover {
  background: linear-gradient(176deg, #fface8, #ae80e5);
  box-shadow: 0px 5px 4px lightgrey;
}

.btn_text:hover {
  transform: scale(1.01);
}

body {
  max-width: 1400px;
  margin: auto;
  background-color: #f7f7f7;
  font-family: "Roboto";
}

#functioning {
  padding-top: 15px;
  width: 100%;
  background-color: white;
}

#all_founction_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
}

#functioning h2 {
  margin-left: 20px;
}

.function_cards {
  position: relative;
  background-color: #f7f7f7;
  width: 90%;
  border-radius: 25px;
  box-shadow: 4px 4px 5px lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-bottom: 30px;
}

.card_body_function {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.function_number {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  color: white;
  font-size: 12px;
}

.card_logo_function {
  padding-left: 40px;
  font-size: 22px;
}

.card_text_function {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 550;
}

.fa-store {
  color: #9356DC;
}

.fa-mobile-screen-button {
  color: grey;
}

.fa-list-ul {
  color: grey;
}

.function_cards:hover {
  transform: scale(1.02);
}/*# sourceMappingURL=main.css.map */