// HEADER CSS

#header_index img {
    
    width: 162px;
    margin-top: 14px;
    padding-bottom: 12px;
    padding-left: 30%;

    @media screen and (min-width :768px) {
        padding-left: 42%;
    }
}

// Barre de recherche 

.search_bar {
    padding-left: 15px;
    border: none;
    background-color: #eee;
    
}

input:focus::placeholder {
    color: transparent;
    border-color: transparent;
}

// Barre de recherche

#gps_icon {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #eee;
    box-shadow: 1px 3px 5px 2px lightgrey;

    @media screen and (max-width :390px) {
        width: 120%;
    }

    @media screen and (max-width :375px) {
        width: 125%;
    }

}

// Under Header 

/*Header Text*/

#header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 15px;

    @media screen and (min-width:992px) {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 20px;
    }
}

// Header Text Under 

.header_text_under {
    font-weight: 300;
    font-size: 20px;
}


#header_text h1 {
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    @media screen and (min-width:992px) {
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 10px;
    }
}

// Search Button 

/*Bouton_recherche*/
#search_btn {
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: none;
    border-radius: 40px;
    width: 280px;
    height: 60px;
    margin-bottom: 0px;
    margin-top: 30px;

    @media screen and (min-width:992px) {
        margin-top: 20px;
        padding-top: 0px;
    }
}

#search_btn:hover {
    background: linear-gradient(176deg, #fface8, #ae80e5);
    box-shadow: 0px 5px 4px lightgrey;
}


.btn_text:hover {
    transform: scale(1.01);
}
